@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Vazirmatn';
  src: url('/public/fonts//Vazirmatn[wght].woff2') format('woff2'),
       url('/public/fonts/Vazirmatn[wght].ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
html, body {
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: 'Vazirmatn', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* استایل برای عنوان */
.title {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #ffffff;
  margin-top: 10px;
}

/* استایل برای متن زیر عنوان */
.text {
  font-family: "Vazirmatn", sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #ffffff;
  margin-top: 5px;
}

/* استایل مخصوص موبایل */
@media (max-width: 600px) {
  .title {
    font-size: 14px;
    margin-top: 10px;
  }

  .text {
    font-size: 8px;
  }
}

/* استایل مخصوص تبلت */
@media (min-width: 601px) and (max-width: 1024px) {
  .title {
    font-size: 15px;
    margin-top: 18px;
  }

  .text {
    font-size: 9px;
    margin-top: 8px;
  }
}

/* استایل مخصوص دسکتاپ */
@media (min-width: 1025px) {
  .title {
    font-weight: 400;
    font-size: 21px;
    margin-top: 10px;
  }

  .text {
    font-weight: 100;
    font-size: 15px;
    margin-top: 5px;
  }
}

.newsletter-container {
  width: 95%;
}